footer{
    background-color: #2C3E50;
    color: #fff;
    

}
span {
    font-size: 0.8rem;
}
.copy-rights{
    background-color: #1A252F;
    display: flex;
    justify-content: center;
    align-items: center;
}